@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700");
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-size: 16px;
  font-family: "Roboto";
}
/*Navigation bar */

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(37, 216, 240, 0.3);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}
.logo {
  padding: 0px 10px;
  margin-right: auto;
  color: #fafafa;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Bungee Outline', cursive;
}
.navlink {
  padding: 0px 10px;
  display: flex;
  list-style: none;
  font-family: Helvetica;
}
.navlink li a {
  transition: color 0.8s;
}
.navlink li a:hover {
  color: #03020a;
}
.navlink a {
  text-decoration: none;
  padding: 0px 20px;
  color: #fafafa;
  font-size: 2rem;
}

.burger {
  display: none;
}

/*Text Section */

.hero-text {
  height: 50vh;
  max-width: 100%;
  text-align: center;
  background: linear-gradient(
      0deg,
      rgba(10, 55, 61, 0.575),
      rgba(10, 55, 61, 0.575)
    ),
    url("../images/bg_hero.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fafafa;
}
.hero-text h1 {
  font-size: 2.5rem;
  margin: 0;
  padding-top: 80px;
}

.hero-text h2 {
  font-size: 2rem;
}
.hero-text p {
  font-size: 1.5rem;
}
/*Quiz Section */

.quiz-section {
  width: 100%;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.quiz-section a {
  text-decoration: none;
  color: #fafafa;
  margin-top: 50px;
}

.quiz-container {
  background-color: rgb(25, 25, 25);
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: 180px 220px 80px;
  grid-template-areas: "quiz-image" "quiz-text" "quiz-button";
  border-radius: 20px;
  width: 280px;
  margin: 20px 30px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
}
.quiz-container:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
.quiz-image {
  grid-area: quiz-image;
  background-image: url("../images/scrum.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.quiz-text {
  grid-area: quiz-text;
}
.quiz-text h3 {
  font-size: 1.8rem;
}
.quiz-text p {
  font-size: 1.25rem;
  margin: 10px 5px;
}
.scrum-text{
   color: #8096fa; 
}
.scrum {
  background-color: #8096fa;
}
.kanban-text{
    color: #fac371;
}
.kanban {
  background-color: #fac371;
}
.product-text{
    color: #6bf766;
}
.product{
    background-color: #6bf766;
}
.quiz-button {
  grid-area: quiz-button;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.quiz-button .button-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 10px;
}
.info{
    font-size:1.25rem;
}
.category{
    margin-top:5px;
    font-size: 0.75rem;
}
.button-info.border {
  border-left: 1px solid #d3b7e4;
  border-right: 1px solid #d3b7e4;
}

.bg2 {
  background-image: url("../images/kanban.jpg");
}
.bg3 {
  background-image: url("../images/product.jpg");
}
/*Media Queries */

@media screen and (max-width: 600px) {
  .navigation {
    background-color: rgba(37, 216, 240, 0.8
    );
    position: fixed;
    display: block;
    padding: 10px 0px;
  }
  .navlink {
    display: block;
  }
  .navlink li a:hover {
    color: #ffffff;
  }
  .navlink a {
    font-size: 1.5rem;
  }
  .navlink :not(:last-child) {
    display: none;
  }
  .responsive .navlink li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
  }

  .burger {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    padding: 0px 12px;
  }

  .hero-text h1 {
    padding-top: 80px;
    font-size: 2.25rem;
  }
  .hero-text h2 {
    font-size: 1.8rem;
  }
  .hero-text p {
    font-size: 1.3rem;
  }
  .quiz-section {
    flex-direction: column;
  }
}
